#juan {
  margin: 200px 500px 0px 500px;
  }
  #form {
  margin: 0px 500px 0px 500px;
  }
 #navbar {
  margin: 150px 450px 0px 450px;
 } 
ul {
    list-style-type: none;
    display: inline;
  }
  li {
    display: inline;
  }